{% for child in children %}
    <li>
        <a href="{{ path('category_show', { 'id': child.id }) }}">{{ child.title }}</a>
    </li>
    {% include "category/recursive.html.twig" with {'children': child.children} %}
{% endfor %}